/* Automated generiated file from this website:
https://cssspritestool.com/ */

.bg-dishes {
  background: url("/images/css-sprite-combined.png") 0px -0px;
  width: 100px;
  height: 100px;
  /* we used span element and this element is an inline element - for an inline element we can not define height and width unless we change the display from inline to inline-block */
  display: inline-block;
}

.bg-landing {
  background: url("/images/css-sprite-combined.png") -100px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-rocketship {
  background: url("/images/css-sprite-combined.png") -200px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-ufo {
  background: url("/images/css-sprite-combined.png") -300px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-saturn {
  background: url("/images/css-sprite-combined.png") -400px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

/* create a new image(meal image) with right arrow(inside a form of right arrow) using this wesbite: => https://bennettfeely.com/clippy/  => Clippy is a tool to produce such images without use of photoshop or other similar softwares!*/
/* .meal {
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
} */

/* .meal { */
/* our image becomes 70% grayscale */
/* filter: grayscale(70%) blur(3px); */
/* } */

/* Using hover Pseudo class selector! */
.meal:hover {
  /* our image becomes 70% grayscale and blur when we hover on it!*/
  filter: grayscale(70%) blur(3px);
}

.meal2:hover {
  filter: drop-shadow(16px 16px 20px blue) blur(5px) brightness(0.9)
    contrast(200%) grayscale(50%) hue-rotate(90deg) opacity(25%) saturate(30%)
    sepia(60%);
}

/* <filter-function> values from this website: 
https://developer.mozilla.org/en-US/docs/Web/CSS/filter*/
/* filter: blur(5px);
filter: brightness(0.4);
filter: contrast(200%);
filter: drop-shadow(16px 16px 20px blue);
filter: grayscale(50%);
filter: hue-rotate(90deg);
filter: invert(75%);
filter: opacity(25%);
filter: saturate(30%);
filter: sepia(60%); */

/* URL */
/* filter: url("filters.svg#filter-id"); */

/* Multiple filters */
/* filter: contrast(175%) brightness(3%);
filter: drop-shadow(3px 3px red) sepia(100%) drop-shadow(-3px -3px blue); */

/* Use no filter */
/* filter: none; */

/* Global values */
/* filter: inherit;
filter: initial;
filter: revert;
filter: revert-layer;
filter: unset; */
